.row {
    max-width: 100%;
    color: white;

    &__title {
        padding: 0 2.4%;
        font-size: 19px;
        color: rgb(192, 192, 192);
    }

    &__posters {
        display: flex;
        overflow-y: hidden;
        overflow-x: scroll;
        padding: 1.2% 0 3.5% 2.4%;

        &::-webkit-scrollbar {
            display: none;
        }
    }

    &__poster {
        object-fit: contain;
        width: 100%;
        margin-right: 10px;
        max-height: 100px;
        display: inline-block;
        transition: transform 450ms;
        border-radius: 2.4%;
        cursor: pointer;

        &__large {
            max-height: 250px;

            &:hover {
                transform: scale(1.1);
                z-index: 20000;
            }
        }

        &:hover {
            transform: scale(1.08);
        }
    }

}