.banner {
    color: white;
    object-fit: contain;
    height: calc(100vh - 60px);
    background-size: cover;
    background-position: top;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 100px;


    &__contents {
        width: fit-content;
        padding: 1% 2.4%;
        background-color: rgba(0, 0, 0, 0.7);
        border-radius: 0 2.4% 2.4% 0;

    }

    &__title {
        font-size: 3rem;
        font-weight: 800;
        padding-bottom: 0.3rem;
        color: rgb(192, 192, 192);

    }

    &__description {
        max-width: 337px;
        width: 100%;
        line-height: 1.3;
        padding-top: 1rem;
        font-size: 0.8rem;
        max-width: 360px;
        height: 80px;
        color: rgb(192, 192, 192);
    }

    &__button {
        cursor: pointer;
        outline: none;
        border: none;
        color: #fff;
        font-weight: 700;
        border-radius: 0.2vw;
        padding: 0.5rem 2rem;
        margin-right: 1rem;
        background-color: rgba(51, 51, 51, 0.5);

        &:hover {
            color: #000;
            background-color: #e6e6e6;
            transition: all 0.2s;
        }

    }

    &--fadeBottom {
        height: 7.4rem;
        width: 100%;
        position: absolute;
        bottom: 0;
        background-image: linear-gradient(180deg, transparent, rgba(37, 37, 37, 0.61), #111);
    }

}