.nav {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__logo {
        width: 100px;
        object-fit: contain;
    }

    &__avatar {
        width: 40px;
        object-fit: contain;
        border-radius: 5px;
    }
}