.nav {
    position: fixed;
    top: 0;
    z-index: 200;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px;
    height: 50px;
    transition: all 0.4s ease-in;

    &__logo {
        width: 80px;
        position: fixed;
        left: 20px;
        object-fit: contain;
    }

    &__avatar {
        width: 30px;
        object-fit: contain;
        position: fixed;
        right: 20px;
    }
}