.row {
    max-width: 100%;
    margin-left: 20px;
    color: white;

    &__posters {
        display: flex;
        overflow-y: hidden;
        overflow-x: scroll;
        padding: 20px;

        &::-webkit-scrollbar {
            display: none;
        }
    }

    &__poster {
        object-fit: contain;
        width: 100%;
        margin-right: 10px;
        max-height: 100px;
        display: inline-block;
        transition: transform 450ms;


        &__large {
            max-height: 250px;

            &:hover {
                transform: scale(1.1);
            }
        }

        &:hover {
            transform: scale(1.08);
        }
    }

}